/*// BASE STYLES //*/

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.grass,
.sky,
.road {
  position: relative;
}

.sky {
  height: 40%;
  background: skyblue;
}

.grass {
  height: 20%;
  background: seagreen;
  text-align: center;
}

.road {
  height: 40%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines {
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

.right {
  color: #fff;
  font-size: 24;
  margin: 0;
  padding: 0;
  padding-top: 50px;
}
/*// ELEMENTS TO ANIMATE //*/

.mario {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100px;
  height: 100px;
  animation: drive 3s both infinite linear, jump 0.3s 1.2s ease;
}

.luigi {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100px;
  height: 100px;
  animation-name: drive;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cloud {
  position: absolute;
}

.cloud:nth-child(1) {
  width: 200px;
  top: 120px;
  opacity: 0.5;
  animation: wind 80s linear infinite reverse;
}

.cloud:nth-child(2) {
  width: 300px;
  top: 0;
  animation: wind 50s linear infinite reverse;
}

/*// KEYFRAMES //*/

@keyframes drive {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(1500px);
  }
}

@keyframes wind {
  from {
    left: -300px;
  }

  to {
    left: 100%;
  }
}

@keyframes jump {
  0% {
    top: -40px;
  }
  50% {
    top: -100px;
  }
  100% {
    top: -40px;
  }
}
